{namespace example.errors.errors}


/**
 * Template for 403 pages.
 */
{template .error403}
  <h1>Forbidden!</h1>
{/template}


/**
 * Template for 501 errors.
 */
{template .error500}
  <h1>Yikes</h1>
{/template}

