{namespace template1}

/**
* @param title
* @param surname
**/
{template .formletter}
Dear {$title} {$surname}: With a name like {$title} {$surname}, shouldn't you have your own theme song? We can help!
{/template}