{namespace template1}

/**
* @param title
* @param surname
**/
{template .formletter}
{msg desc="Promotional message for ordering theme songs"}Dear {$title} {$surname}: With a name like {$title} {$surname}, shouldn't you have your own theme song? We can help!{/msg}
{/template}