{namespace example.errors}


/**
 * Template for 404 pages.
 */
{template .error404}
  <h1>Not Found!</h1>
{/template}


/**
 * Template for 500 errors.
 */
{template .error500}
  <h1>Oops, my bad</h1>
{/template}

